{% extends 'basicapp/base.html' %}

{% block body_block %}
<!--page specific to correncyconverter.html page-->
<div class="jumbotron">
    <h1 >Currency Converter</h1>

    <div class="container">
        <form  class=""  action="{% url 'basicapp:currency' %}" method="GET">
            {% csrf_token %}
            {{ currency_form.as_p }}
            <input class="btn btn-primary" type="submit" name="Convert">
        </form>
        {% if flag %}
        <h3>Amount:{{converted_value}}</h3>
        {% endif %}
    </div>

</div>
{% endblock %}