<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style></style>
</head>
<body>
    <div class="container" >
        <div class="jumbotron">
        <form action="" >
                <label  for="input1">First Name</label>
                <input class="form-control" type="text" name="input1">
                <label for="input2">Last Name</label>
                <input class="form-control" type="text" name="input2">
                <input class="btn btn-dark" type="submit" name="SEND">
        </form>
    
    </div>
    </div>
</body>
</html>