 {% extends 'basicapp/base.html' %}

 {% block body_block %}
 <div class="jumbotron">
     <h1 >Weather</h1>
 
     <div class="container">
         <form  class=""  action="{% url 'basicapp:weather' %}" method="GET">
             {% csrf_token %}
             {{ weather_form.as_p }}
             <input class="btn btn-primary" type="submit" name="calculate">
         </form>
         {% if Flag_lat_long == "NOTFOUND" %}
         <div>
            <p>Please enter valid city, state and country</p>
         </div>
         {% else %}

         {% endif %}

         {% if flag %}
         <div class="container">
            <ul>
                <li>CITY:{{city}}</li>
                <li>COUNTRY: {{country}}</li>
                <li>Temprarture: {{temp}} C</li>
                <li>HUMIDITY:{{humidity}}</li>
                <li>WIND SPEED:{{wind_speed}} km/hr</li>
            </ul>
        </div>
         {% endif %}
     </div>
 
 </div>
 {% endblock %}