 {% extends 'basicapp/base.html' %}

 {% block body_block %}
 <div class="jumbotron">
     <h1 >Weather</h1>
 
     <div class="container">
         <form  class=""  action="{% url 'basicapp:weather' %}" method="GET">
             {% csrf_token %}
             {{ weather_form.as_p }}
             <input class="btn btn-primary" type="submit" name="calculate">
         </form>
         {% if Flag_lat_long == "NOTFOUND" %}
         <div>
            <p>Please enter valid city, state and country</p>
         </div>
         {% else %}

         {% endif %}

         {% if flag %}
         <div >
            <ul>
                <li> <h1>CITY: {{city}}</h1></li>
                <li> <h1>COUNTRY: {{country}}</h1></li>
                <li> <h1>Temprarture: {{temp}} C </h1></li>
                <li><h1> HUMIDITY: {{humidity}} </h1></li>
                <li><h1> WIND SPEED: {{wind_speed}} km/hr </h1></li>
            </ul>
        </div>
         {% endif %}
     </div>
 
 </div>
 {% endblock %}